function Fraction.new 0
function Fraction.reduce 1
function Fraction.getNumerator 0
function Fraction.getDenominator 0
function Fraction.plus 1
function Fraction.dispose 0
function Fraction.print 0
function Fraction.gcd 1
